# General
.DS_Store

# Xcode
#

## Build generated
build/
DerivedData/
*.DS_Store

## Various settings
*.pbxuser
!default.pbxuser
*.xcuserdatad
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#

Pods/
